@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500&display=swap');
body {
	font-family: 'Libre Franklin', sans-serif;
	margin: 0;
	background-color: #141b23;
	background-image: url("./image/background.png");
}
.container {
	background-image: url("./image/bitmap.png");
	min-height: 459px;
	background-repeat: no-repeat;
	background-position: right -20px top -2px;
	padding-top: 65px;
	padding-bottom: 50px;
	padding-left: 55px;
	padding-right: 55px;
}
.navigation-menu {
	padding: 0;
	margin: 0;
	font-size: 15px;
	opacity: 0.87;
	color: #b1bbcb;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
}
.navigation-menu-item {
	display: inline;
	margin-right: 13px;
}
.navigation-menu-logo {
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 17px;
}
.content {
	padding-top: 71px;
	padding-left: 40px;
}
.card {
	max-width: 457px;
	overflow: hidden;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
	color: #ffffff;
}
.card-header {
	font-size: 16px;
	line-height: 30px;
}
.card-header h2 {
	margin-top: 0;
	margin-bottom: 10px;
}
.card-body p {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 15.6px;
}
.footer p {
	margin: 0;
	opacity: 0.27;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
	color: #ffffff;
	font-size: 12px;
	padding-top: 198px;
}